<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

    <title>Foodlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice.present? %>
       <p class="notification is-link is-light"   id="notice"><%= notice %></p>
    <%end%>
    <% if alert.present? %>
       <p class="notification is-danger is-light"   id="notice"><%= alert %></p>
    <%end%>
    <%= render "shared/header"%>
    <div class="container">
          <%= yield %>
    </div>
  </body>
</html>
